<h1 matDialogTitle>
  <span *ngIf="id == 'undefined'">Add New ITEM</span>
  <span *ngIf="id != 'undefined'">Update ITEM</span>
</h1>
<form [formGroup]="package">
<mat-dialog-content>
    <mat-form-field style="width: 300px">
      <input matInput 
      placeholder="Package Name" 
      formControlName="packageName" cdkFocusInitial>
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
      <input matInput 
      placeholder="Package Description" 
      formControlName="packageDescription" >
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
        <input matInput 
        type = "number"
        placeholder = "Package Price" 
        formControlName = "packagePrice" >
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
        <mat-label>Department</mat-label>
        <mat-select formControlName="packageType">
          <mat-option *ngFor="let dep of IS.itemType" [value]="dep">{{dep}}</mat-option>
        </mat-select>
    </mat-form-field><br>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>cancel</button>
  <button mat-raised-button *ngIf="id != 'undefined'"
  color      = "primary" 
  [disabled] = "!package.valid"
  (click)    = "update()"
  >Update</button> 
  <button mat-raised-button *ngIf="id == 'undefined'"
  color      = "primary" 
  [disabled] = "!package.valid"
  (click)    = "create()"
  >Create</button>  
</mat-dialog-actions>
</form>

