.name{
    font-size: 25px;
}
.header{
    width: 100%;
    font-size: 20px;
    border-bottom: solid #673ab7 5px;
    padding: 5px;
    text-align: center;
}
.con{
    padding: 5px;
    height: 120px;
    overflow: auto;
    border-bottom: solid #673ab7 1px;
}