<div class="pdf-con m-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 center bold-1">QUESTDIAGNOSTICS, INC.</div>
      <div class="col-12 center bold-1">STATEMENT OF ACCOUNT</div>
    </div>
    <div class="row mt-4">
      <div class="col-7 bold-1"></div>
      <div class="col-5 bold-1 right">{{billing?.soaCode}}</div>
      <div class="col-7 bold-1">Name of Company: {{billing?.soaCode}}</div>
      <div class="col-5 bold-1 right">DATE OF COVERAGE:
        {{convertDate(billing?.fromDate)}} - {{convertDate(billing?.toDate)}}
      </div>
      <div class="col-7 bold-1">Address: {{billing?.address}}</div>
      <div class="col-5 bold-1 right">DATE OF STATEMENT: {{convertDate(billing?.soaDate)}}</div>
      <div class="col-12 bold-1">Attention: {{billing?.attention}}</div>
    </div>
    <div class="row mt-4" *ngIf="type == 1">
      <div class="col-2 bold-1">Date</div>
      <div class="col-2 bold-1">Receipt #</div>
      <div class="col-2 bold-1">Full Name</div>
      <div class="col-2 bold-1">COMPANY</div>
      <div class="col-2 bold-1">Procerdure</div>
      <div class="col-1 bold-1">Subtotal</div>
      <div class="col-1 bold-1">Total</div>
      <div class="col-12 divider"></div>
    </div>
    <div *ngIf="type == 1">
      <div class="row " *ngFor="let t of trans">
        <div class="col-2">{{t.trans.transactionDate}}</div>
        <div class="col-2">{{t.trans.transactionId}}</div>
        <div class="col-2 bold-1">ALVIZ, MARIA MONIQUE LYN GUILAS</div>
        <div class="col-2">DEMAND SCIENCE</div>
        <div class="col-2">DEMAND SCIENCE ( B5 + DT )</div>
        <div class="col-1">500.00</div>
        <div class="col-1">500.00</div>
      </div>
    </div>
    <div class="row mt-4" *ngIf="type == 0">
      <div class="col-2 bold-1">Date</div>
      <div class="col-2 bold-1">Receipt #</div>
      <div class="col-3 bold-1">Full Name</div>
      <div class="col-3 bold-1">Procerdure</div>
      <div class="col-1 bold-1">Subtotal</div>
      <div class="col-1 bold-1">Total</div>
      <div class="col-12 divider"></div>
    </div>
    <div *ngIf="type == 0">
      <div class="row" *ngFor="let t of trans">
        <div class="col-2">{{t.trans.transactionDate}}</div>
        <div class="col-2">{{t.trans.transactionId}}</div>
        <div class="col-3 bold-1">ALVIZ, MARIA MONIQUE LYN GUILAS</div>
        <div class="col-4">
          <div *ngFor="let item of t.items">
            {{item.itemName}}
            <span style="float: right">{{item.itemPrice}}</span>
          </div>
        </div>
        <div class="col-1">500.00</div>
      </div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5 divider"></div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-3 bold-1">TOTAL</div>
      <div class="col-1">500</div>
      <div class="col-1">500</div>
    </div>
    <div class="row">
      <div class="col-8 mt-5">
        Please make check payable to QUESTDIAGNOSTICS, INC.<br />
        Kindly examine your statement of account immediately upon receipt. If no error <br />
        is reported within 7 days, the account will be considered correct. <br />
        For questions and billing inquiries, please call us at 0917-6260911. <br />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-9">
        <div *ngIf="prepared">
          Prepared by: <br />
          _________________________ <br />
          <div class="bold-1">{{prepared?.firstName}} {{prepared?.middleName}} {{prepared?.lastName}}</div>
          {{prepared?.position}}
        </div>
      </div>
      <div class="col-3">
        Noted by: <br />
        _________________________ <br />
        <div class="bold-1">Carla S. Canlas</div>
        President <br />
        QuestDiagnostics,INC.
      </div>
      <div class="col-9 mt-4">
        <div *ngIf="verified">
          Verified by: <br />
          _________________________ <br />
          <div class="bold-1">{{verified?.firstName}} {{verified?.middleName}} {{verified?.lastName}}</div>
          {{verified?.position}}
        </div>
      </div>
      <div class="col-3 mt-4">
        <div *ngIf="validated">
          Validated by: <br />
          _________________________ <br />
          <div class="bold-1">{{validated?.firstName}} {{validated?.middleName}} {{validated?.lastName}}</div>
          {{validated?.position}} <br />
        </div>
      </div>
    </div>
  </div>
</div>