<div class="pdf-con m-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 center bold-1">QUESTDIAGNOSTICS, INC.</div>
      <div class="col-12 center bold-1">STATEMENT OF ACCOUNT</div>
    </div>
    <div class="row mt-4">
      <div class="col-7 bold-1"></div>
      <div class="col-5 bold-1 right">19DS_SOA#01</div>
      <div class="col-7 bold-1">Name of Company: INTELLICARE</div>
      <div class="col-5 bold-1 right">DATE OF COVERAGE: OCTOBER 04, 2018 - JANUARY 09, 2019</div>
      <div class="col-7 bold-1">Address: 7th Floor Bldg., V.A Street, Legazpi Village Makati City</div>
      <div class="col-5 bold-1 right">DATE OF STATEMENT: JANUARY 10, 2019</div>
      <div class="col-12 bold-1">Attention: Claims Manager</div>
    </div>
    <div class="row mt-4" *ngIf="type == 1">
      <div class="col-2 bold-1">Date</div>
      <div class="col-2 bold-1">Receipt #</div>
      <div class="col-2 bold-1">Full Name</div>
      <div class="col-2 bold-1">COMPANY</div>
      <div class="col-2 bold-1">Procerdure</div>
      <div class="col-1 bold-1">Subtotal</div>
      <div class="col-1 bold-1">Total</div>
      <div class="col-12 divider"></div>
    </div>
    <div class="row " *ngIf="type == 1">
      <div class="col-2">2019-01-07 11:59:09</div>
      <div class="col-2">000000000950</div>
      <div class="col-2 bold-1">ALVIZ, MARIA MONIQUE LYN GUILAS</div>
      <div class="col-2">DEMAND SCIENCE</div>
      <div class="col-2">DEMAND SCIENCE ( B5 + DT )</div>
      <div class="col-1">500.00</div>
      <div class="col-1">500.00</div>
    </div>
    <div class="row mt-4" *ngIf="type == 0">
      <div class="col-2 bold-1">Date</div>
      <div class="col-2 bold-1">Receipt #</div>
      <div class="col-3 bold-1">Full Name</div>
      <div class="col-3 bold-1">Procerdure</div>
      <div class="col-1 bold-1">Subtotal</div>
      <div class="col-1 bold-1">Total</div>
      <div class="col-12 divider"></div>
    </div>
    <div class="row" *ngIf="type == 0">
      <div class="col-2">2019-01-07 11:59:09</div>
      <div class="col-2">000000000950</div>
      <div class="col-3 bold-1">ALVIZ, MARIA MONIQUE LYN GUILAS</div>
      <div class="col-3">DEMAND SCIENCE ( B5 + DT )</div>
      <div class="col-1">500.00</div>
      <div class="col-1">500.00</div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5 divider"></div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-3 bold-1">TOTAL</div>
      <div class="col-1">500</div>
      <div class="col-1">500</div>
    </div>
    <div class="row">
      <div class="col-8 mt-5">
        Please make check payable to QUESTDIAGNOSTICS, INC.<br />
        Kindly examine your statement of account immediately upon receipt. If no error <br />
        is reported within 7 days, the account will be considered correct. <br />
        For questions and billing inquiries, please call us at 0917-6260911. <br />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-9">
        Prepared by: <br />
        _________________________ <br />
        <div class="bold-1">Precious Joy David</div>
        Accounting Staff
      </div>
      <div class="col-3">
        Noted by: <br />
        _________________________ <br />
        <div class="bold-1">Carla S. Canlas</div>
        President <br />
        QuestDiagnostics,INC.
      </div>
      <div class="col-9 mt-4">
        Verified by: <br />
        _________________________ <br />
        <div class="bold-1">Hazel Collen Villegas</div>
        IT/Billing Dept.
      </div>
      <div class="col-3 mt-4">
        Validated by: <br />
        _________________________ <br />
        <div class="bold-1">Judy R. Desaliza</div>
        Human Resources <br />
      </div>
    </div>
  </div>
</div>