.pdf-con{
    font-size: 12px;
    font-family: "century gothic";
    background-color: white;
    // border: 1px solid black;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.divider{
    height: 1px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}