<mat-grid-list cols="2" rowHeight="25px" class="mt-4">
    <mat-grid-tile rowspan="3" colspan="2">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="User Name">
            <clr-icon shape="user" matSuffix></clr-icon>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" colspan="2">
      <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Email">
          <clr-icon shape="envelope" matSuffix></clr-icon>
      </mat-form-field>
  </mat-grid-tile>
    <mat-grid-tile rowspan="3" colspan="2">
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password">
            <clr-icon shape="eye" matSuffix></clr-icon>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" colspan="2">
      <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Confirm Password">
          <clr-icon shape="eye" matSuffix></clr-icon>
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3" colspan="2">
    <mat-form-field class="full-width">
        <mat-label>Role/Position</mat-label>
        <mat-select>
        <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.value}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    </mat-grid-tile>    
    <mat-grid-tile rowspan="3" colspan="2">
      <button mat-raised-button (click)="onClick" color="primary">SIGN UP</button>
    </mat-grid-tile>
</mat-grid-list>