.label-1{
   font-weight: bold;
}
.r-label{ 
    color: #16036b;
    margin-left: 15px;
    letter-spacing: 1px;
}
.r-text{
    border-bottom: solid 1px #16036b;
    text-align: center;
    font-weight: bold;
}
.n-value{
    color: #16036b;
}
.row{
    margin-top: 5px;
}
