<div style="width: 350px" class="ml-4 mt-2" id="print-section">
<mat-grid-list cols="20" rowHeight="10px" >
    <mat-grid-tile colspan="20" rowspan="3">
        <span class="left"> 
          {{transData?.transactionDate}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="3">
        <span class="bold-1"> 
            QUEST PHIL DIAGNOSTICS 
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="2">
        <span> 
            McArthur Hi-Way Cor. Salome Rd. Angeles City
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="2">
       <!-- margin -->
       <span *ngIf="transData?.salesType == 'refund'" class="bold-1 ls-2">
            REFUND TRANSACTION
        </span> 
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
        <span class="right" > 
            Name :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="4">
        <span class="left bold-1"> 
            {{patient?.fullName}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
        <span class="right"> 
            Company :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="4" >
        <span class="left bold-1" > 
            {{patient?.companyName}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <span class="right"> 
            Age/Gen :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="2">
        <span class="left bold-1"> 
            {{patient?.age}}/{{patient?.gender}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <span class="right"> 
            Birthdate :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="2">
        <span class="left bold-1"> 
            {{patient?.birthdate}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <span class="right"> 
            Phone # :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="2">
        <span class="left bold-1"> 
            {{patient?.contactNo}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
        <span class="right"> 
            Referral :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="4">
        <span class="left bold-1"> 
            {{transData?.biller}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <span class="right"> 
            Cashier :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="2">
        <span class="left bold-1"> 
            {{transData?.userId}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <span class="right"> 
            Type :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="2">
        <span class="left bold-1"> 
            {{transData?.transactionType}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
        <span class="right bold-1 ts-3"> 
            RCPT :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1 ts-3"> 
            # {{transData?.transactionId.toString().padStart(13, '0')}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="15" rowspan="3" class="border-top border-bottom">
        <span class="left bold-1"> 
          <span *ngIf="transData?.salesType == 'refund'">
              Refund
          </span> Items
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="3" class="border-top border-bottom">
        <span class="bold-1 "> 
            Price
        </span>
    </mat-grid-tile> 
</mat-grid-list>
    <!-- <div *ngFor="let i of item">
        <span class="left" style="width: 260px;"> 
           {{i.itemName}}
        </span>
        <span class="right"> 
            ₱:{{i.itemPrice}}
        </span>
    </div> -->
    <div class="container-fluid">
        <div class="row pt-1 pb-1" *ngFor="let i of item" style="line-height: 15px;font-size: 13px">
            <div class="col-sm-9" >              
                {{i.item.itemName}}
            </div>
            
            <div class="col-sm-3">    
                <div style="font-size: 10px">( A.P ) {{i.item.itemPrice}}</div>          
                <span *ngIf="transData?.currency == 'PESO'">₱:</span>
                <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span>               
                <span class="bold-1">
                    {{math.computeDisc(i.item.itemPrice, i.ext.itemDisc, i.ext.itemQTY)}}
                </span>			
            </div>
        </div>
    </div>
<mat-grid-list cols="20" rowHeight="10px" >
    <mat-grid-tile colspan="13" rowspan="3" class="border-top">
        <span class="right bold-1 "> 
            Receipt Total :
        </span>
    </mat-grid-tile>

    <mat-grid-tile colspan="7" rowspan="3" class="border-top">
        <span class="bold-1 "> 
            <span *ngIf="transData?.currency == 'PESO'">₱:</span>
            <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span> 
             {{transData?.grandTotal}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" rowspan="2">
        <span class="right"> 
            Amount Tendered :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="2">
        <span > 
            <span *ngIf="transData?.currency == 'PESO'">₱:</span>
            <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span> 
            {{transData?.paidIn}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" rowspan="2">
        <span class="right bold-1 "> 
            Given Change :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="2">
        <span class="bold-1 "> 
            <span *ngIf="transData?.currency == 'PESO'">₱:</span>
            <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span> 
            {{transData?.paidOut}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="2">
        <!-- margin top-->
      </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
      <!-- margin left -->
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="5" 
      class="bold-1" style="border: dotted 2px black;">
       <div class="top">Powered By,</div>
       <div class="bottom">Quest Info System</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
        <!-- margin right -->
    </mat-grid-tile>
</mat-grid-list>
</div>
