<div class="loader-con" *ngIf="showLoading" >
  <div style="margin-top: 30vh">
      <loading></loading>
  </div>
</div>
<div class="search-con mt-1" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 bold-3 ls-2 p-3">
          <span *ngIf="listType == 'transactions' || listType == 'HMO' || listType == 'accounting'">
            TRANSACTION LIST
          </span> 
          <span *ngIf="listType == 'microscopy'">
              MICROSCOPY LIST
            </span>
      </div>
      <div class="col-md-7">
          <!-- <span class="bold-2 ls-1 mr-3">Filter by DATE: </span> -->
          <mat-form-field class="mr-4" style="width: 100px !important">
            <mat-label>Month</mat-label>
            <mat-select [formControl]="monthVal" >
              <mat-option *ngFor="let month of months" [value]="month.value" >
                {{month.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100px !important">
            <mat-label>Year</mat-label>
            <mat-select [formControl]="yearVal">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button class="ml-4" 
          (click)="setData()" color="primary">Filter</button>

      </div>
      <div class="col-md-5">
          <mat-form-field class="search-field">
              <input matInput (keyup)="applyFilter($event.target.value)" 
              placeholder="Search Transaction">
          </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z2 table-con" >
  
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}"
        *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span style="text-transform: uppercase;" class="ls-1 bold-1">
            {{column}}
          </span> 
        </th>     
        <td mat-cell *matCellDef="let element" > 
              <span [style.color]="element['color']">
                {{element[column]}}
              </span>  
              <div *ngIf="column == 'action'">
                <button mat-raised-button (click)="receipt(element['id'])" 
                color="primary" class="mr-1" 
                *ngIf="listType == 'transactions' || listType == 'HMO'">
                  Receipt
                </button>
                <button mat-raised-button (click)="edit(element['id'])" 
                color="accent" class="mr-1" 
                *ngIf="listType == 'HMO'">
                  Edit
                </button>
                <button mat-raised-button (click)="getTrans(element)" 
                color="primary" class="mr-1" 
                *ngIf="listType == 'billing'">
                  ADD
                </button>
                <button mat-mini-fab (click)="payment(element['id'])" color="primary" 
                *ngIf="listType == 'accounting' && element['biller']"  matTooltip="account payment">
                  <clr-icon shape="wallet"></clr-icon>
                </button> 

                <!-- microscopy action -->
                <div *ngIf="listType == 'microscopy'">
                  <div *ngIf="!checkLab(element['id'])">
                    <button mat-mini-fab (click)="labNavigate(element['id'], 'microscopy')" color="primary" 
                    *ngIf="listType == 'microscopy' "  matTooltip="Add Data">
                      <clr-icon shape="plus"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="checkLab(element['id'])">
                    <button mat-mini-fab (click)="labNavigate(element['id'], 'microscopy')" color="accent" 
                    *ngIf="listType == 'microscopy'"  matTooltip="Update Data" class="mr-2">
                    <clr-icon shape="sync"></clr-icon>
                    </button>
                    <button mat-mini-fab (click)="labRes(element['id'],'microscopy')" color="primary" 
                    *ngIf="listType == 'microscopy'"  matTooltip="Print Result">
                    <clr-icon shape="printer"></clr-icon>
                    </button>
                  </div>
                </div>

                <!-- hematology action -->
                <div *ngIf="listType == 'hematology'">
                  <div *ngIf="!checkLab(element['id'])">
                    <button mat-mini-fab (click)="labNavigate(element['id'], 'hematology')" color="primary" 
                    *ngIf="listType == 'hematology' "  matTooltip="Add Data">
                      <clr-icon shape="plus"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="checkLab(element['id'])">
                    <button mat-mini-fab (click)="labNavigate(element['id'], 'hematology')" color="accent" 
                    *ngIf="listType == 'hematology'"  matTooltip="Update Data" class="mr-2">
                    <clr-icon shape="sync"></clr-icon>
                    </button>
                    <button mat-mini-fab (click)="labRes(element['id'],'hematology')" color="primary" 
                    *ngIf="listType == 'hematology'"  matTooltip="Print Result">
                    <clr-icon shape="printer"></clr-icon>
                    </button>
                  </div>
                </div>

              </div>   
        </td>
        
    </ng-container>    
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            
            <div class="example-element-description container-fluid">
              <div class="row">
                <div class="col-md-4">
                    <div class="bold-1">Purchased Items: </div>
                    <div *ngFor="let item of element.items">
                      + {{item.itemName}}
                      <span style="font-size:10px" 
                      *ngIf="item.itemDescription != '' && item.itemDescription != ' '" >
                        - ( {{item.itemDescription}} )
                      </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bold-1">Patient Information: </div>
                    <div>{{element.patInfo?.contactNo}} || {{element.patInfo?.email}}</div>
                    <div>{{element.patInfo?.birthdate}} || {{element.patInfo?.gender}}</div>
                    <div>{{element.patInfo?.companyName}} || {{element.patInfo?.address}}</div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; "
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">>
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" 
    class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" 
  class="mat-paginator-sticky"></mat-paginator>
</div>


