table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
button {
  outline: none;
}
.mat-column-items{
  max-width: 250px;
}
.delete-btn{
    color: crimson;
    cursor: pointer;
}
