<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 mt-2">
<!-- Item selection -->
      <select-item itemURL="AllItems" 
        placeholder="Select Items" (selectTrig)="getItem($event)">
      </select-item>     
<!-- patient selection -->
      <div class="row mt-3">      
        <div class="col-8">
          <select-patient patientURL="getPatient" 
            placeholder="Patient List" (selectTrig)="getPatient($event)">
          </select-patient> 
        </div>
        <div class="col-4">
          <button mat-raised-button (click)="newPatient()" 
                  class="mt-2 bg-info text-light ls-1">
              <clr-icon shape="plus"></clr-icon>&nbsp; New Patient
          </button>
        </div>
      </div>
 <!-- patient information container -->
      <mat-grid-list *ngIf="patient !== undefined"
      cols="20" rowHeight="5px" class="animated fadeIn mt-2" gutterSize="0px">
        <mat-grid-tile colspan="20" rowspan="10" >
          <div class="bg-dark patHeadCon" >
            <div  class="bg-info patHead shadow p-2 pl-4 pr-4 text-light " >
                <clr-icon shape="assign-user"></clr-icon> 
                <span class=" ls-2"> PATIENT INFO</span>
            </div>
            <span class="patclose" (click)="resetPatient()">
              <clr-icon shape="times" size="25"></clr-icon>
            </span>
          </div>
        </mat-grid-tile>  
        <mat-grid-tile colspan="20" rowspan="1" ></mat-grid-tile>      
        <mat-grid-tile colspan="20" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">NAME: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.fullName}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">AGE: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.age}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="13" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">BirthDate: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.birthdate}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">Gender: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.gender}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="13" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">Position: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.position}}</span>
          </div>
        </mat-grid-tile>   
        <mat-grid-tile colspan="20" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">Address: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.address}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="8" class="bg-info" >
          <div class="patinfo">
            <span class="bold-1 ls-1">Company: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.companyName}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="1"></mat-grid-tile> 
        <mat-grid-tile colspan="20" rowspan="10" class="bg-dark">
          <button mat-raised-button (click)="editPatient()">
            <clr-icon shape="pencil"></clr-icon> Edit
          </button>
        </mat-grid-tile> 
      </mat-grid-list> 
    </div>

    <div class="col-md-7 mt-2 pl-2 ">
      <div class="bg-info item-box-container">
        <div class="item-box-label bg-info s-bottom mb-1">
          <mat-grid-list cols="20" rowHeight="60px" >
            <mat-grid-tile colspan="9" rowspan="1" class="text-light ls-2 bold-3 ts-2">
              ITEM LIST
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1" class="text-light ls-1">
              Add Discount:
            </mat-grid-tile>
            <mat-grid-tile colspan="7" rowspan="1">
                <button *ngFor="let discbtn of discountBtn"
                mat-raised-button (click)="addDiscount(discbtn)" class="discountBtn ml-1">
                  {{discbtn}}
                </button>
            </mat-grid-tile>
          </mat-grid-list>         
        </div>
<!-- selected items -->
        <div class="pr-3 pl-3 item-list-con" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <item-box *ngFor="let item of items" 
              [itemInfo]="item" (deleteThis)="deleteItem($event)" [discount]="discount"
              (getTotal)="itemTotal($event)">
            </item-box>
        </div>
        <div class="item-footer s-top bg-info mt-1 container-fluid">
          <div class="row">
            <div class="col-md-8">
              <mat-grid-list cols="20" rowrHeight="10px">
                <mat-grid-tile *ngIf="transType === undefined" colspan="20" rowspan="9">
<!-- Transaction type button label -->
                  <div class="bg-dark p-1 pl-3 pr-3 ls-1 text-light transBtnlabel"> 
                    Select Transaction Type: 
                  </div>
<!-- Transaction type button container -->
                  <div class="transbtn">
                    <button mat-raised-button class="m-1 animated jackInTheBox" 
                    color="primary" *ngFor="let btn of transTypeBTN "
                      (click)="changeTrans(btn)"
                      [disabled]="patient === undefined || items.length == 0"
                    >{{btn}}
                    </button>
                  </div>  
                  <div></div>
                  <div class="otherBtn">
                    <button mat-raised-button (click)="addCompany()">Add Company</button>
                    <button mat-raised-button (click)="cancel()" 
                    class="bg-danger text-light">Cancel</button>
                  </div>
                </mat-grid-tile>
<!-- back button: to reselect transaction type -->
                <mat-grid-tile *ngIf="transType !== undefined" colspan="20" rowspan="2">
                    <button mat-raised-button class="edge animated fadeInRight back"
                    (click)="changeTrans(undefined)" >
                    <mat-icon>arrow_back_ios</mat-icon> Back</button>
                    <span class="ls-1 bold-1 text-light">{{transType}}</span>
                </mat-grid-tile>
<!-- main container of CASHIER transaction type -->
                <mat-grid-tile *ngIf="transType === 'CASH'" colspan="20" rowspan="5">
                  <div class="moneycon">
                    <label class="mr-2 text-light">Denomination: </label>
                    <button mat-raised-button class="moneybtn mr-1"
                    *ngFor="let money of moneyBtn" (click)="addMoney(money)">
                      {{money}}
                    </button>
                  </div>
                  <div class="input-group" style="width: 300px !important">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-success text-light">
                        Amount Received</span>
                    </div>
                    <input type="number" class="form-control" [formControl]="receivedAmount">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button" (click)="changeCurrency()">
                         {{currency}}
                      </button>
                    </div>
                  </div>
                  <span *ngIf="arError !== undefined"
                  class="badge badge-danger arError animated rubberBand">
                    <clr-icon shape="exclamation-triangle"></clr-icon>
                    {{arError}}&nbsp;
                  </span>
                </mat-grid-tile>
<!-- main container of APE and ACCOUNT transaction type -->
                <mat-grid-tile *ngIf="transType === 'ACCOUNT' || transType === 'APE'" 
                colspan="20" rowspan="5">
                 
                </mat-grid-tile>
<!-- main container of HMo transaction type -->
                <mat-grid-tile *ngIf="transType === 'HMO'" colspan="20" rowspan="5">
                  <div  class="input-group input-group-sm mb-3"
                        style="top: 0px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">LOE Number</span>
                    </div>
                    <input type="text" class="form-control">
                  </div><br>
                  <div  class="input-group input-group-sm mb-3"
                        style="top: 35px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Account Number</span>
                    </div>
                    <input type="text" class="form-control">
                  </div>
                  <div  class="input-group input-group-sm mb-3"
                        style="top: 70px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Approval Code</span>
                    </div>
                    <input type="text" class="form-control">
                  </div>
                </mat-grid-tile>
<!-- save and save print container -->
                <mat-grid-tile *ngIf="transType !== undefined" colspan="20" rowspan="2" >
                    <button mat-raised-button 
                    [disabled]="patient === undefined || items.length == 0"
                    (click)="save()" color="accent" 
                    class="mr-2 animated fadeIn">
                        <clr-icon shape="floppy"></clr-icon> SAVE
                    </button>
                    <button mat-raised-button
                    [disabled]="patient === undefined || items.length == 0" 
                    (click)="onClick" color="primary" 
                    class="animated fadeIn">
                        <clr-icon shape="printer" ></clr-icon> SAVE & PRINT
                    </button>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
<!-- total, subtotal, discount, change container -->
            <div class="col-md-4 mt-3">
              <mat-grid-list cols="10" rowHeight="10px" gutterSize="0px">
                <mat-grid-tile colspan="6" rowspan="3">
                  <span>Sub Total: </span> 
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                  <span>{{subTotal}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="3">
                  <span>Discounted: </span> 
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                  <span>{{discounted}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="3">
                  <span *ngIf="transType === 'CASH'">Change: </span> 
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                  <span *ngIf="transType === 'CASH'">{{change}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="2" class="bg-dark text-light">
                  <span class="total-label ls-1">TOTAL:</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="5" class="bg-dark text-light">
                  <span class="ls-1 ts-3 bold-1">{{totalVal}}</span>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>