<div mat-dialog-title>{{title}}
    <button mat-button matDialogClose class="close">
        <clr-icon shape="times" ></clr-icon>
    </button>  
</div>
<div mat-dialog-content>
<form [formGroup]="patientForm">
    <mat-grid-list cols="12" rowHeight="17px" gutterSize="0px">
        <mat-grid-tile colspan="8" rowspan="4">
            <company-select 
                companyURL="getCompany" 
                placeholder="Company List / Doctor"
                (selectTrig)="getCompany($event)"
                [selected]="patCompany">
            </company-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="4">
            <mat-form-field class="right">
                <input matInput placeholder="Applied Position" formControlName="position">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="4">
            <mat-form-field class="left">
                <input matInput cdkFocusInitial
                placeholder="First name" formControlName="firstName">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('firstName').hasError('required')">
                   First Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">
            <mat-form-field class="left">
                <input matInput placeholder="Middle Name" formControlName="middleName">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('middleName').hasError('required')">
                   Middle Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="4">
            <mat-form-field class="right">
                <input matInput placeholder="Last Name" formControlName="lastName">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('lastName').hasError('required')">
                   Last Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="10" rowspan="4">
            <mat-form-field class="left">
                <input matInput placeholder="Address" formControlName="address">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('address').hasError('required')">
                   Address is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">
            <mat-form-field class="right">
                <mat-select placeholder="Gender" formControlName="gender">
                    <mat-option value=""></mat-option>
                    <mat-option value="MALE">Male</mat-option>
                    <mat-option value="FEMALE">Female</mat-option>
                </mat-select>
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('gender').hasError('required')">
                   Gender is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="4">
            <mat-form-field class="left">
                <input matInput [matDatepickerFilter]="myFilter" 
                [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('birthdate').hasError('required')">
                   Birth Date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">
            <mat-form-field class="left">
                <input matInput placeholder="Age" type="number" formControlName="age">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('age').hasError('required')">
                   Age is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="4">
            <mat-form-field class="right">
                <input matInput placeholder="Contact Number" formControlName="contactNo">
                <mat-hint>*Required Field</mat-hint>
                <mat-error *ngIf="patientForm.get('contactNo').hasError('required')">
                   Contact is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="4">
            <mat-form-field class="left">
                <input matInput placeholder="Email Address" formControlName="email">
                <mat-error *ngIf="patientForm.get('email').hasError('email')">
                    Enter valid <strong>Email</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="4">
            <mat-form-field class="right">
                <input matInput placeholder="notes" formControlName="notes">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="4">
            <mat-form-field class="right">
                <input matInput placeholder="Senior ID / PWD ID" formControlName="sid">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="12" rowspan="5">
            <button mat-raised-button 
            [disabled]  = "!patientForm.valid" 
            (click)     = "savePatient()"
            color       = "primary">
                Submit
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</div>