.border-top{
    border-top: 4px slateblue solid !important;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #683ab7d2; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #673ab7; 
}