<div class="container-fluid">
    <div class="row mt-2">
      <div class="col-6 bold-3 ls-2 p-3">
        {{title}}
      </div>
      <div class="col-2 pt-2">
        <button mat-raised-button (click)="getData()"><clr-icon shape="refresh"></clr-icon></button>
      </div>
      <div class="col-4">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="mat-elevation-z8 table-con">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="userID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{ row.userID }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
        <td mat-cell *matCellDef="let row"> {{ row.userName }} </td>
      </ng-container>
  
      <!-- Type Column -->
      <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
        <td mat-cell *matCellDef="let row"> {{row.userEmail}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="_class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> USER ROLE </th>
        <td mat-cell *matCellDef="let row"> {{row._class}} </td>
      </ng-container>
  
      <!-- Action column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-mini-fab (click)="verify(row.userID)" color="warn" *ngIf="url === 'Y' ">        
            <clr-icon shape="pencil" ></clr-icon>
          </button>  
          <button mat-mini-fab (click)="verify(row.userID)" color="primary" *ngIf="url === 'N' ">        
              <clr-icon shape="shield-check"></clr-icon>
            </button>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[ 25, 50, 75, 100]" class="mat-paginator-sticky"></mat-paginator>
  </div>
  
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
